$body-background-color: #202020;
$sidebar-color: #202020;
$border-color: #555555;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: #db4141;
$search-result-preview-color: $grey-lt-300;

$body-font-family: Roboto,Arial,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

$link-color: #db4141;
$btn-primary-color: #db4141;
$base-button-color: #303030;

$code-background-color: #303030;
$search-background-color: #202020;
$table-background-color: #303030;
$feedback-color: darken($sidebar-color, 3%);
$search-foreground-color: $grey-lt-300;

$content-width: 800px;
$nav-width: 270px;
$nav-width-md: 270px;

$font-size-4: 16px;
