$body-background-color: #202020;
$sidebar-color: #202020;
$border-color: #555555;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: #202020;
$search-result-preview-color: $grey-lt-300;

$link-color: #FF7B02;
$btn-primary-color: #FF7B02;
$base-button-color: #303030;

$code-background-color: #303030;
$search-background-color: #202020;
$table-background-color: #303030;
$feedback-color: darken($sidebar-color, 3%);
$search-foreground-color: $grey-lt-300;

$content-width: 1200px;
$nav-width: 250px;
$nav-width-md: 250px;